* {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #171420;
  color: #fff;
}
.navbar-brand {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.navbar-brand:hover {
  color: #fff;
}
.navbar-brand:focus {
  color: #fff;
}
.nav-link {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}
.nav-link:hover {
  color: #fff;
}
.nav-link:focus {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.navbar-toggler:hover {
  color: #fff;
}
.navbar-toggler:focus {
  color: #fff;
}
span .navbar-toggler-icon {
  color: #fff;
}
.navbar-toggler-icon:hover {
  color: #fff;
}
.navbar-toggler-icon:focus {
  color: #fff;
}
.header span {
  color: #2A4AF4;
  font-size: 20px;
  font-weight: 500;
}
.header h1 {
  font-size: 72px;
  font-weight: bold;
}
.header p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.header .btn {
  font-size: 20px;
  font-weight: bold;
}
.header h2 {
  font-size: 64px;
  font-weight: 500;
}
.trusted {
  background-color: #1F1D2C;
}
.trusted h2 {
  font-size: 36px;
  font-weight: 500;
}
.about span {
  color: #2A4AF4;
  font-size: 20px;
  font-weight: 500;
}
.about h1 {
  font-size: 72px;
  font-weight: bold;
}
.about p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.r-about h4 {
  font-size: 30px;
  font-weight: 600;
  color: #9694E7;
}